{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
  <title>{{ course.course_name }} 상세 페이지</title>
</head>
<body>
  {% include 'home/navbar.html' %}
  <br><br><br>
    <div class="container">

      <!-- 버튼 -->
      <a class="btn btn-warning" href="{% url 'survey:survey_detail' course.pk %}" role="button">뒤로가기</a>



      <br><br><br>
      설문 상세 페이지
      <h1><b>[{{ course.course_name }}] 설문지 답변 - {{ survey_reply.pk }}</b></h1>
    
      <br><br>
      
      <hr>

      <br>
      
        <!-- 질문 1번 -->
        {% if survey.question1 %}
            <h3><b>[1번 문항] {{ survey.question1 }}</b></h3>
            <br>

            <!-- 질문 1번 답변 -->
            {% if survey_reply.reply1 %}
              답변: {{ survey_reply.reply1 }}

            {% else %}
              답변: 없음

            {% endif %}


        {% else %}
            <h3><b>[1번 문항] 없음</b></h3>
            <br>

            <!-- 질문 1번 답변 -->
            {% if survey_reply.reply1 %}
              답변: {{ survey_reply.reply1 }}

            {% else %}
              답변: 없음
              
            {% endif %}

        {% endif %}

        <br><br>
        
        <hr>

        <br><br>



        <!-- 질문 2번 -->
        {% if survey.question1 %}
          <h3><b>[2번 문항] {{ survey.question2 }}</b></h3>
          <br>

          <!-- 질문 2번 답변 -->
          {% if survey_reply.reply2 %}
            답변: {{ survey_reply.reply2 }}

          {% else %}
            답변: 없음

          {% endif %}


        {% else %}
          <h3><b>[2번 문항] 없음</b></h3>
          <br>

          <!-- 질문 2번 답변 -->
          {% if survey_reply.reply2 %}
            답변: {{ survey_reply.reply2 }}

          {% else %}
            답변: 없음
            
          {% endif %}

        {% endif %}

        <br><br>
        <hr>
        <br><br>



        <!-- 질문 3번 start -->
        {% if survey.question3 %}
          <h3><b>[3번 문항] {{ survey.question3 }}</b></h3>
          <br>

          <!-- 질문 3번 답변 -->
          {% if survey_reply.reply3 %}
            답변: {{ survey_reply.reply3 }}

          {% else %}
            답변: 없음

          {% endif %}


        {% else %}
          <h3><b>[3번 문항] 없음 </b></h3>
          <br>

          <!-- 질문 3번 답변 -->
          {% if survey_reply.reply3 %}
            답변: {{ survey_reply.reply3 }}

          {% else %}
            답변: 없음
            
          {% endif %}

        {% endif %}

        
        <br><br>
        <hr>
        <br><br>

      <!-- 3번 질문 end -->


    <!-- 질문 4번 start -->
    {% if survey.question4 %}
    <h3><b>[4번 문항] {{ survey.question4 }}</b></h3>
    <br>

    <!-- 질문 4번 답변 -->
    {% if survey_reply.reply4 %}
      답변: {{ survey_reply.reply4 }}

    {% else %}
      답변: 없음

    {% endif %}


  {% else %}
    <h3><b>[4번 문항] 없음 </b></h3>
    <br>

    <!-- 질문 4번 답변 -->
    {% if survey_reply.reply4 %}
      답변: {{ survey_reply.reply4 }}

    {% else %}
      답변: 없음
      
    {% endif %}

  {% endif %}

  
  <br><br>
  <hr>
  <br><br>

<!-- 4번 질문 end -->


    <!-- 질문 5번 start -->
    {% if survey.question5 %}
    <h3><b>[5번 문항] {{ survey.question5 }}</b></h3>
    <br>

    <!-- 질문 5번 답변 -->
    {% if survey_reply.reply5 %}
      답변: {{ survey_reply.reply5 }}

    {% else %}
      답변: 없음

    {% endif %}


  {% else %}
    <h3><b>[5번 문항] 없음 </b></h3>
    <br>

    <!-- 질문 5번 답변 -->
    {% if survey_reply.reply5 %}
      답변: {{ survey_reply.reply5 }}

    {% else %}
      답변: 없음
      
    {% endif %}

  {% endif %}

  
  <br><br>
  <hr>
  <br><br>

<!-- 5번 질문 end -->



    <!-- 질문 6번 start -->
    {% if survey.question6 %}
    <h3><b>[6번 문항] {{ survey.question6 }}</b></h3>
    <br>

    <!-- 질문 6번 답변 -->
    {% if survey_reply.reply6 %}
      답변: {{ survey_reply.reply6 }}

    {% else %}
      답변: 없음

    {% endif %}


    {% else %}
      <h3><b>[6번 문항] 없음 </b></h3>
      <br>

      <!-- 질문 6번 답변 -->
      {% if survey_reply.reply6 %}
        답변: {{ survey_reply.reply6 }}

      {% else %}
        답변: 없음
        
      {% endif %}

    {% endif %}

    
    <br><br>
    <hr>
    <br><br>

  <!-- 6번 질문 end -->

    <!-- 질문 7번 start -->
    {% if survey.question7 %}
    <h3><b>[7번 문항] {{ survey.question7 }}</b></h3>
    <br>

    <!-- 질문 7번 답변 -->
    {% if survey_reply.reply7 %}
      답변: {{ survey_reply.reply7 }}

    {% else %}
      답변: 없음

    {% endif %}


  {% else %}
    <h3><b>[7번 문항] 없음 </b></h3>
    <br>

    <!-- 질문 7번 답변 -->
    {% if survey_reply.reply7 %}
      답변: {{ survey_reply.reply7 }}

    {% else %}
      답변: 없음
      
    {% endif %}

  {% endif %}

  
  <br><br>
  <hr>
  <br><br>

<!-- 7번 질문 end -->


    <!-- 질문 8번 start -->
        {% if survey.question8 %}
        <h3><b>[8번 문항] {{ survey.question8 }}</b></h3>
        <br>

        <!-- 질문 8번 답변 -->
        {% if survey_reply.reply8 %}
          답변: {{ survey_reply.reply8 }}

        {% else %}
          답변: 없음

        {% endif %}


      {% else %}
        <h3><b>[8번 문항] 없음 </b></h3>
        <br>

        <!-- 질문 8번 답변 -->
        {% if survey_reply.reply8 %}
          답변: {{ survey_reply.reply8 }}

        {% else %}
          답변: 없음
          
        {% endif %}

      {% endif %}

      
      <br><br>
      <hr>
      <br><br>

    <!-- 8번 질문 end -->


  <!-- 질문 9번 start -->
  {% if survey.question9 %}
    <h3><b>[9번 문항] {{ survey.question9 }}</b></h3>
    <br>

    <!-- 질문 9번 답변 -->
    {% if survey_reply.reply9 %}
      답변: {{ survey_reply.reply9 }}

    {% else %}
      답변: 없음

    {% endif %}


  {% else %}
    <h3><b>[9번 문항] 없음 </b></h3>
    <br>

    <!-- 질문 9번 답변 -->
    {% if survey_reply.reply9 %}
      답변: {{ survey_reply.reply9 }}

    {% else %}
      답변: 없음
      
    {% endif %}

  {% endif %}

  
  <br><br>
  <hr>
  <br><br>

<!-- 9번 질문 end -->



<!-- 질문 10번 start -->
{% if survey.question10 %}
  <h3><b>[10번 문항] {{ survey.question10 }}</b></h3>
  <br>

  <!-- 질문 8번 답변 -->
  {% if survey_reply.reply10 %}
    답변: {{ survey_reply.reply10 }}

  {% else %}
    답변: 없음

  {% endif %}


{% else %}
<h3><b>[10번 문항] 없음 </b></h3>
<br>

<!-- 질문 10번 답변 -->
  {% if survey_reply.reply10 %}
    답변: {{ survey_reply.reply10 }}

  {% else %}
    답변: 없음
    
  {% endif %}

{% endif %}


<br><br>
<hr>
<br><br>

<!-- 10번 질문 end -->


<!-- 질문 11번 start -->
{% if survey.question11 %}
  <h3><b>[11번 문항] {{ survey.question11 }}</b></h3>
  <br>

  <!-- 질문 11번 답변 -->
  {% if survey_reply.reply11 %}
    답변: {{ survey_reply.reply11 }}

  {% else %}
    답변: 없음

  {% endif %}


{% else %}
<h3><b>[11번 문항] 없음 </b></h3>
<br>

<!-- 질문 11번 답변 -->
  {% if survey_reply.reply11 %}
    답변: {{ survey_reply.reply11 }}

  {% else %}
    답변: 없음
    
  {% endif %}

{% endif %}


<br><br>
<hr>
<br><br>

<!-- 11번 질문 end -->


<!-- 질문 12번 start -->
{% if survey.question12 %}
  <h3><b>[12번 문항] {{ survey.question12 }}</b></h3>
  <br>

  <!-- 질문 12번 답변 -->
  {% if survey_reply.reply12 %}
    답변: {{ survey_reply.reply12 }}

  {% else %}
    답변: 없음

  {% endif %}


{% else %}
<h3><b>[12번 문항] 없음 </b></h3>
<br>

<!-- 질문 10번 답변 -->
  {% if survey_reply.reply12 %}
    답변: {{ survey_reply.reply12 }}

  {% else %}
    답변: 없음
    
  {% endif %}

{% endif %}


<br><br>
<hr>
<br><br>

<!-- 12번 질문 end -->


<!-- 질문 13번 start -->
{% if survey.question13 %}
  <h3><b>[13번 문항] {{ survey.question13 }}</b></h3>
  <br>

  <!-- 질문 13번 답변 -->
  {% if survey_reply.reply13 %}
    답변: {{ survey_reply.reply13 }}

  {% else %}
    답변: 없음

  {% endif %}


{% else %}
<h3><b>[13번 문항] 없음 </b></h3>
<br>

<!-- 질문 13번 답변 -->
  {% if survey_reply.reply13 %}
    답변: {{ survey_reply.reply13 }}

  {% else %}
    답변: 없음
    
  {% endif %}

{% endif %}


<br><br>
<hr>
<br><br>

<!-- 13번 질문 end -->


<!-- 질문 14번 start -->
{% if survey.question14 %}
  <h3><b>[14번 문항] {{ survey.question14 }}</b></h3>
  <br>

  <!-- 질문 14번 답변 -->
  {% if survey_reply.reply14 %}
    답변: {{ survey_reply.reply14 }}

  {% else %}
    답변: 없음

  {% endif %}


{% else %}
<h3><b>[14번 문항] 없음 </b></h3>
<br>

<!-- 질문 14번 답변 -->
{% if survey_reply.reply14 %}
    답변: {{ survey_reply.reply14 }}

  {% else %}
    답변: 없음
    
  {% endif %}

{% endif %}


<br><br>
<hr>
<br><br>

<!-- 14번 질문 end -->


<!-- 질문 15번 start -->
{% if survey.question15 %}
  <h3><b>[15번 문항] {{ survey.question15 }}</b></h3>
  <br>

  <!-- 질문 15번 답변 -->
  {% if survey_reply.reply15 %}
    답변: {{ survey_reply.reply15 }}

  {% else %}
    답변: 없음

  {% endif %}


{% else %}
<h3><b>[15번 문항] 없음 </b></h3>
<br>

<!-- 질문 15번 답변 -->
  {% if survey_reply.reply15 %}
    답변: {{ survey_reply.reply15 }}

  {% else %}
    답변: 없음
    
  {% endif %}

{% endif %}


<br><br>
<hr>
<br><br>

<!-- 15번 질문 end -->





















  </div>


</body>
</html>
