{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
  <title>관리자 페이지</title>
</head>
<body>
  {% include 'home/navbar.html' %}
  <br><br><br>
    <div class="container">
      <h1><b>관리자 페이지</b></h1>

      <br><br><br>
      
      <div class="list-group">
        <a href="{% url 'user:division_list' %}" class="list-group-item list-group-item-action">전체 분반/강의 목록</a>
      </div>

      <div class="list-group">
        <a href="{% url 'course:attendance_division_list' %}" class="list-group-item list-group-item-action">강의별 출석 현황</a>
      </div>

      <div class="list-group">
        <a href="{% url 'survey:survey_division_list' %}" class="list-group-item list-group-item-action">강의평가 조회</a>
      </div>


  </div>
</body>
</html>
