{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    // 유효성 검사
    function validate_value() {
      var birthdateInput = document.getElementById('birthdate');
      var birthdateValue = birthdateInput.value;
      
      var idInput = document.getElementById('id');
      var idValue = idInput.value;



      // 아이디 유효성 검사 확인
            if (!/^[a-zA-Z0-9]+$/.test(idValue)) {
        alert('ID는 영문자와 숫자로만 이루어져야 합니다.');
        return false; // Prevent form submission
      }

      
      // 생년월일 유효성 검사 확인
      if (!/^\d{6}$/.test(birthdateValue)) {
        alert('생년월일 6자로 입력해주세요 ex) 990812 ');
        return false; // Prevent form submission
      }
  
      return true; // Allow form submission
    }
  </script>


  

  <title>내정보 수정</title>

  
</head>
<body>
  {% include 'home/navbar.html' %}
  <br><br><br>
    <div class="container">
      <a class="btn btn-secondary" href="{% url 'user:student_detail' %}" role="button">메인 페이지로</a>

      <br><br><br><br>

      <h1><b>내 정보 수정</b></h1>

      <br><br>

      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>

      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info">수정</button>
      </form>
      


      <!-- 내용 -->


  </div>
</body>
</html>
