{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
  <title>강의 목록</title>
</head>
<body>
  {% include 'home/navbar.html' %}
  <br><br><br>
    <div class="container">
      <a class="btn btn-secondary" href="{% url 'user:division_list' %}" role="button">관리자 페이지로</a>

      <br><br>

      <h1><b>{{division.name}} -- 강의 목록</b></h1>
      <br>
      <a class="btn btn-info" href="{% url 'course:create_course' %}" role="button">강의 추가</a>
      <br>
      클릭해서 상세 정보를 확인하세요.
      <br><br>


      <div class="list-group">
        {% for c in course %}
          <a href="{% url 'course:course_detail' c.pk %}" class="list-group-item list-group-item-action">
            [{{ c.division_name }}] <b>{{ c.course_name }}</b> (강사: {{ c.teacher_name }}) - <i>수업시간: {{ c.hours }}시간</i>
          </a>
        {% endfor %}
      </div>




  </div>
</body>
</html>
